<ul id="listings-nav">
	<li>Ejuice</li>
	<li>Devices</li>
	<li>Tanks</li>
	<li>RDA's/Rebuildables</li>
	<li>Drip Kits</li>
	<li>Wire</li>
	<li>Wicks</li>
	<li>Replacement Parts</li>
	<li>Replacement Coils</li>
	<li>Batteries</li>
	<li>Chargers</li>
	<li>Essentail Tools for RDas</li>
	<li>Cases and Mod Pouches</li>


</ul>



<table class="products" id="ejuice-table">
	<tr>
		<td class="col">
			<ul>
			<% @listings_ejuice.each do |listing| %>
				<%= link_to listing.name, listing_path(listing) %><br><br>
				Price:<%= listing.price %><br><br>
				Description:<%= listing.description %><br><br>
				Size:<%= listing.size %><br><br>
				Nicotine:<%= listing.nicotine_level %><br><br>
				
					<% if logged_in? %>
					<%= link_to "Delete", listing, :method => :delete,
	                                      data: { confirm: "You sure?" } %><br><br>
					<%= link_to "Edit", edit_listing_path(listing) %><br><br><br>
					<% end %>

			<% end %>
			</ul>
		</td>
	</tr>
</table>


<table class="products" id="device-table">
	<tr>
		<td class="col">
			<ul>
			<% @listings_device.each do |listing| %>
				<%= link_to listing.name, listing_path(listing) %><br><br>
				Price:<%= listing.price %><br><br>
				Description:<%= listing.description %><br><br>
				Dimensions: <%= listing.dimensions %><br><br>
				Features: <%= listing.features %><br><br>
				Product Includes: <%= listing.product_includes %><br><br>
				Product Recommendations: <%= listing.product_recommendations %><br><br>
				Warning Section: <%= listing.warning_section %><br><br>
				Youtube Video: <%= listing.youtube_video_link %><br><br>
				
					<% if logged_in? %>
					<%= link_to "Delete", listing, :method => :delete,
	                                      data: { confirm: "You sure?" } %><br><br>
					<%= link_to "Edit", edit_listing_path(listing) %><br><br><br>
					<% end %>
			<% end %>
			</ul>
		</td>
	</tr>
</table>

<table class="products" id="tank-table">
	<tr>
		<td class="col">
			<ul>
			<% @listings_tank.each do |listing| %>
				<%= link_to listing.name, listing_path(listing) %><br><br>
				Price:<%= listing.price %><br><br>
				Description:<%= listing.description %><br><br>
				Features: <%= listing.features %><br><br>
				Product Includes: <%= listing.product_includes %><br><br>
				Warning Section: <%= listing.warning_section %><br><br>
				Youtube Video: <%= listing.youtube_video_link %><br><br>
				
					<% if logged_in? %>
					<%= link_to "Delete", listing, :method => :delete,
	                                      data: { confirm: "You sure?" } %><br><br>
					<%= link_to "Edit", edit_listing_path(listing) %><br><br><br>
					<% end %>
			<% end %>
			</ul>
		</td>
	</tr>
</table>

<table class="products" id="rda-table">
	<tr>
		<td class="col">
			<ul>
			<% @listings_rda.each do |listing| %>
				<%= link_to listing.name, listing_path(listing) %><br><br>
				Price:<%= listing.price %><br><br>
				Description:<%= listing.description %><br><br>
				Features: <%= listing.features %><br><br>
				Product Includes: <%= listing.product_includes %><br><br>
				Warning Section: <%= listing.warning_section %><br><br>
				Youtube Video: <%= listing.youtube_video_link %><br><br>
				
					<% if logged_in? %>
					<%= link_to "Delete", listing, :method => :delete,
	                                      data: { confirm: "You sure?" } %><br><br>
					<%= link_to "Edit", edit_listing_path(listing) %><br><br><br>
					<% end %>
			<% end %>
			</ul>
		</td>
	</tr>
</table>

<table class="products" id="drip_kit-table">
	<tr>
		<td class="col">
			<ul>
			<% @listings_drip_kit.each do |listing| %>
				<%= link_to listing.name, listing_path(listing) %><br><br>
				Price:<%= listing.price %><br><br>
				Description:<%= listing.description %><br><br>
				Features: <%= listing.features %><br><br>
				Product Includes: <%= listing.product_includes %><br><br>
				Warning Section: <%= listing.warning_section %><br><br>
				
					<% if logged_in? %>
					<%= link_to "Delete", listing, :method => :delete,
	                                      data: { confirm: "You sure?" } %><br><br>
					<%= link_to "Edit", edit_listing_path(listing) %><br><br><br>
					<% end %>
			<% end %>
			</ul>
		</td>
	</tr>
</table>

<table class="products" id="wire-table">
	<tr>
		<td class="col">
			<ul>
			<% @listings_wire.each do |listing| %>
				<%= link_to listing.name, listing_path(listing) %><br><br>
				Price:<%= listing.price %><br><br>
				Gauge:<%= listing.gauges %><br><br>
				
					<% if logged_in? %>
					<%= link_to "Delete", listing, :method => :delete,
	                                      data: { confirm: "You sure?" } %><br><br>
					<%= link_to "Edit", edit_listing_path(listing) %><br><br><br>
					<% end %>
			<% end %>
			</ul>
		</td>
	</tr>
</table>

<table class="products" id="wick-table">
	<tr>
		<td class="col">
			<ul>
			<% @listings_wick.each do |listing| %>
				<%= link_to listing.name, listing_path(listing) %><br><br>
				Price:<%= listing.price %><br><br>
				Description:<%= listing.description %><br><br>
				Features: <%= listing.features %><br><br>
				
					<% if logged_in? %>
					<%= link_to "Delete", listing, :method => :delete,
	                                      data: { confirm: "You sure?" } %><br><br>
					<%= link_to "Edit", edit_listing_path(listing) %><br><br><br>
					<% end %>
			<% end %>
			</ul>
		</td>
	</tr>
</table>



<table class="products" id="replacement_part-table">
	<tr>
		<td class="col">
			<ul>
			<% @listings_replacement_part.each do |listing| %>
				<%= link_to listing.name, listing_path(listing) %><br><br>
				Price:<%= listing.price %><br><br>
				Features: <%= listing.features %><br><br>
				
					<% if logged_in? %>
					<%= link_to "Delete", listing, :method => :delete,
	                                      data: { confirm: "You sure?" } %><br><br>
					<%= link_to "Edit", edit_listing_path(listing) %><br><br><br>
					<% end %>
			<% end %>
			</ul>
		</td>
	</tr>
</table>


<table class="products" id="replacement_coil-table">
	<tr>
		<td class="col">
			<ul>
			<% @listings_replacement_coil.each do |listing| %>
				<%= link_to listing.name, listing_path(listing) %><br><br>
				Price:<%= listing.price %><br><br>
				Description:<%= listing.description %><br><br>
				Ohm Level: <%= listing.ohm_level %><br><br>
				Coil Specifications: <%= listing.coil_specs %><br><br>
				Warning Section: <%= listing.warning_section %><br><br>
				Note: <%= listing.note %><br><br>


					<% if logged_in? %>
					<%= link_to "Delete", listing, :method => :delete,
	                                      data: { confirm: "You sure?" } %><br><br>
					<%= link_to "Edit", edit_listing_path(listing) %><br><br><br>
					<% end %>
			<% end %>
			</ul>
		</td>
	</tr>
</table>


<table class="products" id="batteries-table">
	<tr>
		<td class="col">
			<ul>
			<% @listings_batteries.each do |listing| %>
				<%= link_to listing.name, listing_path(listing) %><br><br>
				Price:<%= listing.price %><br><br>
				Description:<%= listing.description %><br><br>
				Specs: <%= listing.coil_specs %><br><br>
				Warning Section: <%= listing.warning_section %><br><br>
				Safety Notes: <%= listing.safety_notes %><br><br>
				Notes: <%= listing.note %><br><br>
				
					<% if logged_in? %>
					<%= link_to "Delete", listing, :method => :delete,
	                                      data: { confirm: "You sure?" } %><br><br>
					<%= link_to "Edit", edit_listing_path(listing) %><br><br><br>
					<% end %>
			<% end %>
			</ul>
		</td>
	</tr>
</table>

<table class="products" id="charger-table">
	<tr>
		<td class="col">
			<ul>
			<% @listings_charger.each do |listing| %>
				<%= link_to listing.name, listing_path(listing) %><br><br>
				Price:<%= listing.price %><br><br>
				Description:<%= listing.description %><br><br>
				Features: <%= listing.features %><br><br>
				Warning Section: <%= listing.warning_section %><br><br>
				Notes: <%= listing.note %><br><br>
				Safety Note: <%= listing.safety_notes %><br><br>


					<% if logged_in? %>
					<%= link_to "Delete", listing, :method => :delete,
	                                      data: { confirm: "You sure?" } %><br><br>
					<%= link_to "Edit", edit_listing_path(listing) %><br><br><br>
					<% end %>
			<% end %>
			</ul>
		</td>
	</tr>
</table>

<table class="products" id="essential_rda-table">
	<tr>
		<td class="col">
			<ul>
			<% @listings_essential_rda.each do |listing| %>
				<%= link_to listing.name, listing_path(listing) %><br><br>
				Price:<%= listing.price %><br><br>
				Description:<%= listing.description %><br><br>
				Dimensions: <%= listing.dimensions %><br><br>
				Features: <%= listing.features %><br><br>
				Warning Section: <%= listing.warning_section %><br><br>
				Notes: <%= listing.note %><br><br>
				
					<% if logged_in? %>
					<%= link_to "Delete", listing, :method => :delete,
	                                      data: { confirm: "You sure?" } %><br><br>
					<%= link_to "Edit", edit_listing_path(listing) %><br><br><br>
					<% end %>
			<% end %>
			</ul>
		</td>
	</tr>
</table>

<table class="products" id="cases_and_mod_pouch-table">
	<tr>
		<td class="col">
			<ul>
			<% @listings_cases_and_mod_pouches.each do |listing| %>
				<%= link_to listing.name, listing_path(listing) %><br><br>
				Price:<%= listing.price %><br><br>
				Description:<%= listing.description %><br><br>
				Features: <%= listing.features %><br><br>
				Warning Section: <%= listing.warning_section %><br><br>
				
					<% if logged_in? %>
					<%= link_to "Delete", listing, :method => :delete,
	                                      data: { confirm: "You sure?" } %><br><br>
					<%= link_to "Edit", edit_listing_path(listing) %><br><br><br>
					<% end %>
			<% end %>
			</ul>
		</td>
	</tr>
</table>



