
<table class="products" id="new">
	<tr>
		<td class="col">
			<ul>
			<% @listings.each do |listing| %>
				Name:<%= listing.name %><br><br>
				Price:<%= listing.price %><br><br>
				Description:<%= listing.description %><br><br>
				Size:<%= listing.size %><br><br>
				Features:<%= listing.features %><br><br>
				Product Includes:<%= listing.product_includes %><br><br>
				Product Recommendations:<%= listing.product_recommendations %><br><br>
				Nicotine:<%= listing.nicotine_level %><br><br>
				Dimensions:<%= listing.dimensions %><br><br>
				Warning Section:<%= listing.warning_section %><br><br>
				Youtube Video Link:<%= listing.youtube_video_link %><br><br>
				Gauges:<%= listing.gauges %><br><br>
				Ohm Level:<%= listing.ohm_level %><br><br>
				Coil Specs:<%= listing.coil_specs %><br><br>
				Note:<%= listing.note %><br><br>
				Safety Notes:<%= listing.safety_notes %><br><br>
				<% end %>
			</ul>
		</td>
	</tr>
</table>