
<% if @listing.section == "E-Juice" %>
	<ul class="listings-show-pictures">
	<h1><%=@listing.name %></h1>
		<% @pictures.each do |pic| %>
			<li>
	      <a href="/pictures/<%=pic.id%>"><img class="elevatezoom" src='<%= pic.image.url %>' data-zoom-image='<%= pic.image.url %>'></a>
	     </li>
	      <%= pic.description %>

		      <% if logged_in? %>
		      <br>
		      	<%= link_to "Edit Caption", picture_path(pic) %>
		      <% end %>

		<% end %> 
	
		
		<ul class="details-list">

			<li><p>Description: <br><%=@listing.description %></p></li><br>
			<li><p>Description: <br><%=@listing.section %></p></li><br>
			<li><p>Price: <br><%=@listing.price %></p></li><br>
			<li><p>Size:<br><%=@listing.size %></p></li><br>
			<li><p>Nicotine Level: <br><%=@listing.nicotine_level %></p></li><br>

		</ul>

	</ul>


<%end%>


<!-- CONTINUE. SECTIONS NOT BEING RECOGNIZED  -->

<% if @listing.section == "Devices" %>

	<ul class="listings-show-pictures">
	<h1><%=@listing.name %></h1>
		<% @pictures.each do |pic| %>
			<li>
		      <a href="/pictures/<%=pic.id%>"><img class="elevatezoom" src='<%= pic.image.url %>' data-zoom-image='<%= pic.image.url %>'></a>
		    </li>
	     	<%= pic.description %>


		      <% if logged_in? %>
		      <br>
		      	<%= link_to "Edit Caption", picture_path(pic) %><br><br>
		      <% end %>

		<% end %> 
	</ul>

	<ul class="details-list">
		<%= form_tag add_to_cart_listing_path(@listing) do %>
			<li><p>Description: <br><%=@listing.name %></p></li>
			<li><p>Description: <br><%=@listing.description %></p></li>
			<li><p>Price: <br><%=@listing.price %></p></li><br>
			<li><p>Dimensions: <br><%=@listing.dimensions %></p></li><br>
			<li><p>Features: <br><%=@listing.features %></p></li><br>
			<li><p>Product Includes: <br><%=@listing.product_includes %></p></li><br>
			<li><p>Product Recommendations: <br><%=@listing.product_recommendations %></p></li><br>
			<li><p>Warning Section: <br><%=@listing.warning_section %></p></li><br>
			<li><p>Youtube Video: <br><%=@listing.youtube_video_link %></p></li><br>

		<input id="add-to-cart-btn" type="submit" value="Add To Cart">
		<% end %>

	</ul>


<% end %>



<% if @listing.section == "Tanks" %>
	<ul class="listings-show-pictures">
	<h1><%=@listing.name %></h1>
	<% @pictures.each do |pic| %>
		<li>
      <a href="/pictures/<%=pic.id%>"><img class="elevatezoom" src='<%= pic.image.url %>' data-zoom-image='<%= pic.image.url %>'></a>
     </li>
      <%= pic.description %>
	      <% if logged_in? %>
	      <br>
	      	<%= link_to "Edit Caption", picture_path(pic) %>
	      	<%= link_to "Edit Listing Details", listing_path(@listing) %>

	      	<br>
	      	<br>
	      <% end %>
	<% end %> 

		<ul class="details-list">
			<li><p>Description: <br><%=@listing.description %></p></li><br>
			<li><p>Price: <br><%=@listing.price %></p></li><br>
			<li><p>Features: <br><%=@listing.features %></p></li><br>
			<li><p>Product Includes: <br><%=@listing.product_includes %></p></li><br>
			<li><p>Product Recommendations: <br><%=@listing.product_recommendations %></p></li><br>
			<li><p>Warning Section: <br><%=@listing.warning_section %></p></li><br>
			<li><p>Youtube Video: <br><%=@listing.youtube_video_link %></p></li><br>
		</ul>

	</ul>
<% end %>

<% if @listing.section == "Rebulidables/RDA's" %>
	<ul class="listings-show-pictures">
	<h1><%=@listing.name %></h1>
	<% @pictures.each do |pic| %>
		<li>
      <a href="/pictures/<%=pic.id%>"><img class="elevatezoom" src='<%= pic.image.url %>' data-zoom-image='<%= pic.image.url %>'></a>
     </li>
      <%= pic.description %>
	      <% if logged_in? %>
	      <br>
	      	<%= link_to "Edit Caption", picture_path(pic) %>
	      	<%= link_to "Edit Listing Details", listing_path(@listing) %>

	      	<br>
	      	<br>
	      <% end %>
	<% end %> 

		<ul class="details-list">
			<li><p>Description: <br><%=@listing.description %></p></li><br>
			<li><p>Price: <br><%=@listing.price %></p></li><br>
			<li><p>Features: <br><%=@listing.features %></p></li><br>
			<li><p>Product Includes: <br><%=@listing.product_includes %></p></li><br>
			<li><p>Warning Section: <br><%=@listing.warning_section %></p></li><br>
			<li><p>Youtube Video: <br><%=@listing.youtube_video_link %></p></li><br>
		</ul>
	</ul>
<% end %>


<% if @listing.section == "Drip Kits" %>
	<ul class="listings-show-pictures">
	<h1><%=@listing.name %></h1>
	<% @pictures.each do |pic| %>
		<li>
      <a href="/pictures/<%=pic.id%>"><img class="elevatezoom" src='<%= pic.image.url %>' data-zoom-image='<%= pic.image.url %>'></a>
     </li>
      <%= pic.description %>
	      <% if logged_in? %>
	      <br>
	      	<%= link_to "Edit Caption", picture_path(pic) %>
	      	<%= link_to "Edit Listing Details", listing_path(@listing) %>

	      	<br>
	      	<br>
	      <% end %>
	<% end %> 

		<ul class="details-list">
			<li><p>Description: <br><%=@listing.description %></p></li><br>
			<li><p>Price: <br><%=@listing.price %></p></li><br>
			<li><p>Features: <br><%=@listing.features %></p></li><br>
			<li><p>Product Includes: <br><%=@listing.product_includes %></p></li><br>
			<li><p>Warning Section: <br><%=@listing.warning_section %></p></li><br>
		</ul>
	</ul>
<% end %>

<% if @listing.section == "Wire" %>
	<ul class="listings-show-pictures">
	<h1><%=@listing.name %></h1>
	<% @pictures.each do |pic| %>
		<li>
      <a href="/pictures/<%=pic.id%>"><img class="elevatezoom" src='<%= pic.image.url %>' data-zoom-image='<%= pic.image.url %>'></a>
     </li>
      <%= pic.description %>
	      <% if logged_in? %>
	      <br>
	      	<%= link_to "Edit Caption", picture_path(pic) %>
	      	<%= link_to "Edit Listing Details", listing_path(@listing) %>

	      	<br>
	      	<br>
	      <% end %>
	<% end %> 

		<ul class="details-list">
			<li><p>Description: <br><%=@listing.description %></p></li><br>
			<li><p>Price: <br><%=@listing.price %></p></li><br>
			<li><p>Gauge: <br><%=@listing.gauges %></p></li><br>
		</ul>
	</ul>
<% end %>


<% if @listing.section == "Wicks" %>
	<ul class="listings-show-pictures">
	<h1><%=@listing.name %></h1>
	<% @pictures.each do |pic| %>
		<li>
      <a href="/pictures/<%=pic.id%>"><img class="elevatezoom" src='<%= pic.image.url %>' data-zoom-image='<%= pic.image.url %>'></a>
     </li>
      <%= pic.description %>
	      <% if logged_in? %>
	      <br>
	      	<%= link_to "Edit Caption", picture_path(pic) %>
	      	<%= link_to "Edit Listing Details", listing_path(@listing) %>

	      	<br>
	      	<br>
	      <% end %>
	<% end %> 

		<ul class="details-list">
			<li><p>Description: <br><%=@listing.description %></p></li><br>
			<li><p>Price: <br><%=@listing.price %></p></li><br>
			<li><p>Features: <br><%=@listing.features %></p></li><br>
		</ul>
	</ul>
<% end %>


<% if @listing.section == "Replacement Parts" %>
	<ul class="listings-show-pictures">
	<h1><%=@listing.name %></h1>
	<% @pictures.each do |pic| %>
		<li>
      <a href="/pictures/<%=pic.id%>"><img class="elevatezoom" src='<%= pic.image.url %>' data-zoom-image='<%= pic.image.url %>'></a>
     </li>
      <%= pic.description %>
	      <% if logged_in? %>
	      <br>
	      	<%= link_to "Edit Caption", picture_path(pic) %>
	      	<%= link_to "Edit Listing Details", listing_path(@listing) %>

	      	<br>
	      	<br>
	      <% end %>
	<% end %> 

		<ul class="details-list">
			<li><p>Description: <br><%=@listing.description %></p></li><br>
			<li><p>Price: <br><%=@listing.price %></p></li><br>
			<li><p>Features: <br><%=@listing.features %></p></li><br>
		</ul>
	</ul>
<% end %>


<% if @listing.section == "Replacement Coils" %>
	<ul class="listings-show-pictures">
	<h1><%=@listing.name %></h1>
	<% @pictures.each do |pic| %>
		<li>
      <a href="/pictures/<%=pic.id%>"><img class="elevatezoom" src='<%= pic.image.url %>' data-zoom-image='<%= pic.image.url %>'></a>
     </li>
      <%= pic.description %>
	      <% if logged_in? %>
	      <br>
	      	<%= link_to "Edit Caption", picture_path(pic) %>
	      	<%= link_to "Edit Listing Details", listing_path(@listing) %>

	      	<br>
	      	<br>
	      <% end %>
	<% end %> 

		<ul class="details-list">
			<li><p>Description: <br><%=@listing.description %></p></li><br>
			<li><p>Price: <br><%=@listing.price %></p></li><br>
			<li><p>Ohm Level: <br><%=@listing.ohm_level %></p></li><br>
			<li><p>Warning Section: <br><%=@listing.warning_section %></p></li><br>
			<li><p>Note: <br><%=@listing.note %></p></li><br>
		</ul>
	</ul>
<% end %>


<% if @listing.section == "Batteries" %>
	<ul class="listings-show-pictures">
		<h1><%=@listing.name %></h1>
	<% @pictures.each do |pic| %>
		<li>
      <a href="/pictures/<%=pic.id%>"><img class="elevatezoom" src='<%= pic.image.url %>' data-zoom-image='<%= pic.image.url %>'></a>
     </li>
      <%= pic.description %>
	      <% if logged_in? %>
	      <br>
	      	<%= link_to "Edit Caption", picture_path(pic) %>
	      	<%= link_to "Edit Listing Details", listing_path(@listing) %>

	      	<br>
	      	<br>
	      <% end %>
	<% end %> 

		<ul class="details-list">
			<li><p>Description: <br><%=@listing.description %></p></li><br>
			<li><p>Price: <br><%=@listing.price %></p></li><br>
			<li><p>Specs: <br><%=@listing.coil_specs %></p></li><br>
			<li><p>Warning Section: <br><%=@listing.warning_section %></p></li><br>
			<li><p>Safety Notes: <br><%=@listing.safety_notes %></p></li><br>
			<li><p>Notes: <br><%=@listing.note %></p></li><br>
		</ul>
	</ul>

<% end %>


<% if @listing.section == "Chargers" %>
	<ul class="listings-show-pictures">
	<h1><%=@listing.name %></h1>
	<% @pictures.each do |pic| %>
		<li>
      <a href="/pictures/<%=pic.id%>"><img class="elevatezoom" src='<%= pic.image.url %>' data-zoom-image='<%= pic.image.url %>'></a>
     </li>
      <%= pic.description %>
	      <% if logged_in? %>
	      <br>
	      	<%= link_to "Edit Caption", picture_path(pic) %>
	      	<%= link_to "Edit Listing Details", listing_path(@listing) %>

	      	<br>
	      	<br>
	      <% end %>
	<% end %> 

		<ul class="details-list">
			<li><p>Description: <br><%=@listing.description %></p></li><br>
			<li><p>Price: <br><%=@listing.price %></p></li><br>
			<li><p>Features: <br><%=@listing.features %></p></li><br>
			<li><p>Warning Section: <br><%=@listing.warning_section %></p></li><br>
			<li><p>Safety Notes: <br><%=@listing.safety_notes %></p></li><br>
			<li><p>Notes: <br><%=@listing.note %></p></li><br>
		</ul>
	</ul>
<% end %>


<% if @listing.section == "Essential Tools for Rebulidables" %>
	<ul class="listings-show-pictures">
	<h1><%=@listing.name %></h1>
	<% @pictures.each do |pic| %>
		<li>
	      <a href="/pictures/<%=pic.id%>"><img class="elevatezoom" src='<%= pic.image.url %>' data-zoom-image='<%= pic.image.url %>'></a>
	     </li>
	      <%= pic.description %>
		      <% if logged_in? %>
		      <br>
		      	<%= link_to "Edit Caption", picture_path(pic) %>
		      	<%= link_to "Edit Listing Details", listing_path(@listing) %>

		      	<br>
		      	<br>
		      <% end %>
	<% end %> 

		<ul class="details-list">
			<li><p>Description: <br><%=@listing.description %></p></li><br>
			<li><p>Price: <br><%=@listing.price %></p></li><br>
			<li><p>Dimensions: <br><%=@listing.dimensions %></p></li><br>
			<li><p>Features: <br><%=@listing.features %></p></li><br>
			<li><p>Warning Section: <br><%=@listing.warning_section %></p></li><br>
			<li><p>Notes: <br><%=@listing.note %></p></li><br>
		</ul>
	</ul>
<% end %>

<% if @listing.section == "Cases and Mod Pouches" %>
	<ul class="listings-show-pictures">
		<h1><%=@listing.name %></h1>
		<% @pictures.each do |pic| %>
			<li>
		      <a href="/pictures/<%=pic.id%>"><img class="elevatezoom" src='<%= pic.image.url %>' data-zoom-image='<%= pic.image.url %>'></a>
		     </li>
		      <%= pic.description %>
			      <% if logged_in? %>
			      <br>
			      	<%= link_to "Edit Caption", picture_path(pic) %>
			      	<%= link_to "Edit Listing Details", listing_path(@listing) %>

			      	<br>
			      	<br>
			      <% end %>
		<% end %> 

		<ul class="details-list">
			<li><p>Description: <br><%=@listing.description %></p></li><br>
			<li><p>Price: <br><%=@listing.price %></p></li><br>
			<li><p>Features: <br><%=@listing.features %></p></li><br>
			<li><p>Warning Section: <br><%=@listing.warning_section %></p></li><br>
		</ul>

	</ul>
<% end %>








