<!-- <a id="ejuice-add" href="/listings/new">Add an Ejuice</a> -->
<!-- <a href="/listings">Listings </a> -->
<!-- 

<h1 style="font-family:'Verdana';text-align:center;padding-top:300px;">WELCOME TO INCREDIBLE VAPE NEW YORK</h1>

<h2 style="font-family:'Verdana';text-align:center;">Our site is currently under construction so please sign up to our mailing list below to keep up to date on our opening date!</h2>

<h3 style="font-family:'Verdana';text-align:center;">Thank you!</h3>

 -->
<!-- 
<div id="welcome-div">
<img src="assets/incredible_vape_welcome_picture-9d4f4908f8a3ae2271eae01f0eaae8ac659021284f09f824985659f248085899.png" id="welcome-pic">
</div> -->


<ul id="nav">
	<li><h1>SHOP</h1></li>
		<ul class="hide" id="listings-nav">
			<li><p>Ejuice</p></li>
			<li><p>Devices</p></li>
			<li><p>Tanks</p></li>
			<li><p>RDA's/Rebuildables</p></li>
			<li><p>Drip Kits</p></li>
			<li><p>Wire</p></li>
			<li><p>Wicks</p></li>
			<li><p>Replacement Parts</p></li>
			<li><p>Replacement Coils</p></li>
			<li><p>Batteries</p></li>
			<li><p>Chargers</p></li>
			<li><p>Essentail Tools for RDas</p></li>
			<li><p>Cases and Mod Pouches</p></li>
		</ul>
	<li><h1>ABOUT US</h1></li>
	<li><h1>CONTACT</h1></li>
	<li><h1>GALLERY</h1></li>
	


</ul>


<img id="logo" src="assets/logo-d6371cb67e22d22ef5e65021c4cd3bdcf567eb9a06c5042c2f45d377b477339a.png">
	<ul class="hide" id="pictures-list">
		<li><img src="assets/ejuice2-97ed948551396aaf0424973a84ff0ec98e3bb2702a3807be9963651b422a1df9.jpg"></li>
		<li><img src="assets/cup2-d78d1656901c88a07fb42a8d1b2298e6dc6eb3b1eecb418f1277b129450f5546.jpg"></li>
		<li><img src="assets/device1-a360baf26c040b9d8f109f89c6521d1e3947fc7eb4e73f00b8546b9f4f618ebb.jpg"></li>
		<li><img src="assets/ejuice-e2225a9d361af0e809034b6fd36d756f177d396ba0037859205c7465ad769d04.jpg"></li>
	</ul>

	

<table class="products hide" id="ejuice-table">
	<tr>
		<td class="col">
			<ul>
			<% @listings_ejuice.each do |listing| %>
				<% if listing.pictures.first %>
	            		
	            		<li>
	            		<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>	
	            		

	            		<% else %>
	              			N/A
	            		<% end %>
	            	<br>
						<%= link_to listing.name, listing_path(listing) %>
						<p>$<%= listing.price %></p><br><br>


					<% if logged_in? %>
					<%= link_to "Delete", listing, :method => :delete,
	                                      data: { confirm: "You sure?" } %><br><br>
					<%= link_to "Edit", edit_listing_path(listing) %><br><br><br>
						</li>
					<% end %>
			<% end %>
			</ul>
		</td>
	</tr>
</table>


<table class="products hide" id="device-table">
	<tr>
		<td class="col">
			<ul>
			<% @listings_device.each do |listing| %>
				<% if listing.pictures.first %>
	            		
	            		<li>
	            		<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>	
	            		

	            		<% else %>
	              			N/A
	            		<% end %>
	            	<br>
						<%= link_to listing.name, listing_path(listing) %>
						<p>$<%= listing.price %></p><br><br>


					<% if logged_in? %>
					<%= link_to "Delete", listing, :method => :delete,
	                                      data: { confirm: "You sure?" } %><br><br>
					<%= link_to "Edit", edit_listing_path(listing) %><br><br><br>
						</li>
					<% end %>
			<% end %>
			</ul>
		</td>
	</tr>
</table>

<table class="products hide" id="tank-table">
	<tr>
		<td class="col">
			<ul>
			<% @listings_tank.each do |listing| %>
				<% if listing.pictures.first %>
	            		
	            		<li>
	            		<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>	
	            		

	            		<% else %>
	              			N/A
	            		<% end %>
	            	<br>
						<%= link_to listing.name, listing_path(listing) %>
						<p>$<%= listing.price %></p><br><br>


					<% if logged_in? %>
					<%= link_to "Delete", listing, :method => :delete,
	                                      data: { confirm: "You sure?" } %><br><br>
					<%= link_to "Edit", edit_listing_path(listing) %><br><br><br>
						</li>
					<% end %>
			<% end %>
			</ul>
		</td>
	</tr>
</table>

<table class="products hide" id="rda-table">
	<tr>
		<td class="col">
			<ul>
			<% @listings_rda.each do |listing| %>
				<% if listing.pictures.first %>
	            		
	            		<li>
	            		<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>	
	            		

	            		<% else %>
	              			N/A
	            		<% end %>
	            	<br>
						<%= link_to listing.name, listing_path(listing) %>
						<p>$<%= listing.price %></p><br><br>


					<% if logged_in? %>
					<%= link_to "Delete", listing, :method => :delete,
	                                      data: { confirm: "You sure?" } %><br><br>
					<%= link_to "Edit", edit_listing_path(listing) %><br><br><br>
						</li>
					<% end %>
			<% end %>
			</ul>
		</td>
	</tr>
</table>

<table class="products hide" id="drip_kit-table">
	<tr>
		<td class="col">
			<ul>
			<% @listings_drip_kit.each do |listing| %>
				<% if listing.pictures.first %>
	            		
	            		<li>
	            		<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>	
	            		

	            		<% else %>
	              			N/A
	            		<% end %>
	            	<br>
						<%= link_to listing.name, listing_path(listing) %>
						<p>$<%= listing.price %></p><br><br>


					<% if logged_in? %>
					<%= link_to "Delete", listing, :method => :delete,
	                                      data: { confirm: "You sure?" } %><br><br>
					<%= link_to "Edit", edit_listing_path(listing) %><br><br><br>
						</li>
					<% end %>
			<% end %>
			</ul>
		</td>
	</tr>
</table>

<table class="products hide" id="wire-table">
	<tr>
		<td class="col">
			<ul>
			<% @listings_wire.each do |listing| %>
				<% if listing.pictures.first %>
	            		
	            		<li>
	            		<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>	
	            		

	            		<% else %>
	              			N/A
	            		<% end %>
	            	<br>
						<%= link_to listing.name, listing_path(listing) %>
						<p>$<%= listing.price %></p><br><br>


					<% if logged_in? %>
					<%= link_to "Delete", listing, :method => :delete,
	                                      data: { confirm: "You sure?" } %><br><br>
					<%= link_to "Edit", edit_listing_path(listing) %><br><br><br>
						</li>
					<% end %>
			<% end %>
			</ul>
		</td>
	</tr>
</table>

<table class="products hide" id="wick-table">
	<tr>
		<td class="col">
			<ul>
			<% @listings_wick.each do |listing| %>
				<% if listing.pictures.first %>
	            		
	            		<li>
	            		<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>	
	            		

	            		<% else %>
	              			N/A
	            		<% end %>
	            	<br>
						<%= link_to listing.name, listing_path(listing) %>
						<p>$<%= listing.price %></p><br><br>


					<% if logged_in? %>
					<%= link_to "Delete", listing, :method => :delete,
	                                      data: { confirm: "You sure?" } %><br><br>
					<%= link_to "Edit", edit_listing_path(listing) %><br><br><br>
						</li>
					<% end %>
			<% end %>
			</ul>
		</td>
	</tr>
</table>



<table class="products hide" id="replacement_part-table">
	<tr>
		<td class="col">
			<ul>
			<% @listings_replacement_part.each do |listing| %>
				<% if listing.pictures.first %>
	            		
	            		<li>
	            		<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>	
	            		

	            		<% else %>
	              			N/A
	            		<% end %>
	            	<br>
						<%= link_to listing.name, listing_path(listing) %>
						<p>$<%= listing.price %></p><br><br>


					<% if logged_in? %>
					<%= link_to "Delete", listing, :method => :delete,
	                                      data: { confirm: "You sure?" } %><br><br>
					<%= link_to "Edit", edit_listing_path(listing) %><br><br><br>
						</li>
					<% end %>
			<% end %>
			</ul>
		</td>
	</tr>
</table>


<table class="products hide" id="replacement_coil-table">
	<tr>
		<td class="col">
			<ul>
			<% @listings_replacement_coil.each do |listing| %>
				<% if listing.pictures.first %>
	            		
	            		<li>
	            		<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>	
	            		

	            		<% else %>
	              			N/A
	            		<% end %>
	            	<br>
						<%= link_to listing.name, listing_path(listing) %>
						<p>$<%= listing.price %></p><br><br>


					<% if logged_in? %>
					<%= link_to "Delete", listing, :method => :delete,
	                                      data: { confirm: "You sure?" } %><br><br>
					<%= link_to "Edit", edit_listing_path(listing) %><br><br><br>
						</li>
					<% end %>
			<% end %>
			</ul>
		</td>
	</tr>
</table>


<table class="products hide" id="batteries-table">
	<tr>
		<td class="col">
			<ul>
			<% @listings_batteries.each do |listing| %>
				<% if listing.pictures.first %>
	            		
	            		<li>
	            		<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>	
	            		

	            		<% else %>
	              			N/A
	            		<% end %>
	            	<br>
						<%= link_to listing.name, listing_path(listing) %>
						<p>$<%= listing.price %></p><br><br>


					<% if logged_in? %>
					<%= link_to "Delete", listing, :method => :delete,
	                                      data: { confirm: "You sure?" } %><br><br>
					<%= link_to "Edit", edit_listing_path(listing) %><br><br><br>
						</li>
					<% end %>
			<% end %>
			</ul>
		</td>
	</tr>
</table>

<table class="products hide" id="charger-table">
	<tr>
		<td class="col">
			<ul>
			<% @listings_charger.each do |listing| %>
				<% if listing.pictures.first %>
	            		
	            		<li>
	            		<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>	
	            		

	            		<% else %>
	              			N/A
	            		<% end %>
	            	<br>
						<%= link_to listing.name, listing_path(listing) %>
						<p>$<%= listing.price %></p><br><br>


					<% if logged_in? %>
					<%= link_to "Delete", listing, :method => :delete,
	                                      data: { confirm: "You sure?" } %><br><br>
					<%= link_to "Edit", edit_listing_path(listing) %><br><br><br>
						</li>
					<% end %>
			<% end %>
			</ul>
		</td>
	</tr>
</table>

<table class="products hide" id="essential_rda-table">
	<tr>
		<td class="col">
			<ul>
			<% @listings_essential_rda.each do |listing| %>
				<% if listing.pictures.first %>
	            		
	            		<li>
	            		<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>	
	            		

	            		<% else %>
	              			N/A
	            		<% end %>
	            	<br>
						<%= link_to listing.name, listing_path(listing) %>
						<p>$<%= listing.price %></p><br><br>


					<% if logged_in? %>
					<%= link_to "Delete", listing, :method => :delete,
	                                      data: { confirm: "You sure?" } %><br><br>
					<%= link_to "Edit", edit_listing_path(listing) %><br><br><br>
						</li>
					<% end %>
			<% end %>
			</ul>
		</td>
	</tr>
</table>

<table class="products hide" id="cases_and_mod_pouch-table">
	<tr>
		<td class="col">
			<ul>
			<% @listings_cases_and_mod_pouches.each do |listing| %>
				<% if listing.pictures.first %>
	            		
	            		<li>
	            		<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>	
	            		

	            		<% else %>
	              			N/A
	            		<% end %>
	            	<br>
						<%= link_to listing.name, listing_path(listing) %>
						<p>$<%= listing.price %></p><br><br>


					<% if logged_in? %>
					<%= link_to "Delete", listing, :method => :delete,
	                                      data: { confirm: "You sure?" } %><br><br>
					<%= link_to "Edit", edit_listing_path(listing) %><br><br><br>
						</li>
					<% end %>
			<% end %>
			</ul>
		</td>
	</tr>
</table>





<!-- <img src="assets/logo.png">
<img src="assets/logo.png"> -->

